<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207501775261-ttk1prfbki1e4spbk085m9qokpmpghcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207501775261-ttk1prfbki1e4spbk085m9qokpmpghcv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>207501775261-4ff7krn9s8ber1ijs6g11hqidv0jscfu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjqSTqHOWABTawLG8a9l-VRoFEDaN206w</string>
	<key>GCM_SENDER_ID</key>
	<string>207501775261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gevahim.vatview</string>
	<key>PROJECT_ID</key>
	<string>vatviewanalytics</string>
	<key>STORAGE_BUCKET</key>
	<string>vatviewanalytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207501775261:ios:457865d01eef1866addf74</string>
</dict>
</plist>